<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
    
    <bean id="userService" class="com.mylinkedin.service.impl.UserServiceImpl">
    	<property name="userDao">
    		<ref bean="userDao"/>
    	</property>
    </bean>
    
    <bean id="companyService" class="com.mylinkedin.service.impl.CompanyServiceImpl">
        <property name="companyDao">
            <ref bean="companyDao"/>
        </property>
    	<property name="userDao">
    		<ref bean="userDao"/>
    	</property>
    </bean>
    
    <bean id="languageService" class="com.mylinkedin.service.impl.LanguageServiceImpl">
        <property name="languageDao">
            <ref bean="languageDao"/>
        </property>
    	<property name="userDao">
    		<ref bean="userDao"/>
    	</property>
    </bean>
    
    <bean id="notificationService" class="com.mylinkedin.service.impl.NotificationServiceImpl">
        <property name="notificationDao">
            <ref bean="notificationDao"/>
        </property>
    	<property name="userDao">
    		<ref bean="userDao"/>
    	</property>
    </bean>
    
    <bean id="searchService" class="com.mylinkedin.service.impl.SearchServiceImpl">
        <property name="userDao">
    		<ref bean="userDao"/>
    	</property>
    </bean>
    
    <bean id="skillService" class="com.mylinkedin.service.impl.SkillServiceImpl">
        <property name="skillDao">
            <ref bean="skillDao"/>
        </property>
    	<property name="userDao">
    		<ref bean="userDao"/>
    	</property>
    </bean>
    
    <bean id="universityService" class="com.mylinkedin.service.impl.UniversityServiceImpl">
        <property name="universityDao">
            <ref bean="universityDao"/>
        </property>
    	<property name="userDao">
    		<ref bean="userDao"/>
    	</property>
    </bean>
    
    <bean id="updateService" class="com.mylinkedin.service.impl.UpdateServiceImpl">
        <property name="updateDao">
            <ref bean="updateDao"/>
        </property>
    	<property name="userDao">
    		<ref bean="userDao"/>
    	</property>
    </bean>
   
</beans>